.breadcrumb {
  padding: 0.8em 1em;

  list-style: none;

  background-color: $color_gray-lightest;
  border-radius: $border_radius;

  &__item {
    display: inline;
  }

  &__item + &__item:before {
    padding: 0.2rem;

    color: black;

    content: "/\00a0";
  }
}
