.accordion {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    border: none;
    background-color: $color_gray-lightest;
    transition: 0.2s;

    cursor: pointer;
    user-select: none;

    &:after {
      content: "\02795";
      color: $color_gray-darken;
    }

    &:hover {
      background-color: $color_gray-lighten;
    }

    &_active {
      background-color: $color_gray-lighten;

      &:after {
        content: "\2796";
      }
    }
  }

  &__content {
    //display: none;
    overflow: hidden;
    max-height: 0;

    background-color: $color_white;
    transition: max-height 0.2s ease-out;
  }
}
