.code {
  box-sizing: border-box;

  white-space: pre-wrap;
  color: $color_code-text;
  font-family: $font-stack_consolas;

  border-radius: $border_radius;
  border: none;
  background-color: $color_code-bg;

  &_display_block {
    padding: 2em;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  &_display_inline {
    display: inline-block;
    padding: 0 0.4rem;
    margin: 0 0.1rem;
  }
}
