// font-family
$local_font-stack_lato: Helvetica, Arial, Tahoma, Verdana, sans-serif;
$local_font-stack_georgia: Georgia, "Big Caslon", "Hoefler Text", Garamond,
  Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
$local_font-stack_consolas: Consolas, "Lucida Console", "Lucida Sans Typewriter",
  "Courier New", Courier, monospace;

// colors:
$local_color_brown-lightest: #f9f2ec;
$local_color_brown-dark: #804000;
$local_color_pink: #f2d9e6;
$local_color_blue-dark: #282c35;
$local_color_blue-light: #424857;

$local_color_gray-lightest: #f2f2f2;

// other
$local_border_radius: 0.3em;

// media Quaries
$local_screen-md: 768px !default;

//

.doc-html {
  height: 100%;

  background-attachment: fixed;
  scroll-behavior: auto;

  &__body {
    max-width: 100%;

    line-height: 1.7;
    color: black;

    background-image: url(./img/cookie.svg);
    background-repeat: repeat;
    background-position: -50%;
    background-attachment: fixed;
  }
}

.doc-nav {
  z-index: calc(#{$zindex-fixed} + 1);
  top: 0;
  left: 0;
  position: fixed;

  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;

  list-style: none;

  background-color: $local_color_blue-dark;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;

    padding-left: 2em;
    height: 100%;
    width: 260px;
    display: block;
  }

  &__logo {
    margin: 1em 1em 0 0;
    max-width: 10em;
  }

  &__section {
    display: none;
    margin: 1rem 0;
    padding: 1rem 0 0 0;

    color: $local_color_gray-lightest;
    text-decoration: none;

    border-top: 1px solid $local_color_blue-light;

    @media screen and (min-width: 768px) {
      display: block;

      text-decoration: none;

      transition: ease 0.3s;
      outline: none;
      transition: transform 0.2s ease, background-color 0.2s ease,
        box-shadow 0.2s ease;
    }
  }

  &_active &__section {
    display: block;
  }

  // opened menu:
  &_active {
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;

    animation: transitionEffect 0.5s;
    outline: none;
    transition: transform 0.2s ease, background-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__link {
    display: block;
    padding: 0.3rem 0 0.3rem 1rem;

    color: $local_color_gray-lightest;

    &:hover {
      color: $local_color_brown-lightest;
      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    top: 1em;
    right: 1em;

    display: block;

    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &_item1,
    &_item2,
    &_item3 {
      width: 35px;
      height: 5px;
      margin: 6px 0;

      background-color: $color_white;
      transition: 0.4s;
    }

    &_animate &_item1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    &_animate &_item2 {
      opacity: 0;
    }
    &_animate &_item3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

.doc-content {
  margin: 5em 0 0 0; // padding from menu (sidebar)
  padding: 1em;

  @media screen and (min-width: 768px) {
    margin: 0 2em 0 280px; // padding from menu (sidebar)
  }

  &__heading {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    border-bottom: 1px solid $local_color_blue-light;
  }

  &__logos {
    display: block;
    max-width: 500px;
    padding: 1rem 0 2.5rem 0;
  }

  &__footer {
    padding: 2rem 2rem;
    text-align: center;
  }
}

.block {
  padding-top: 5em;

  @media screen and (min-width: $local_screen-md) {
    padding-top: 4em;
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    font-family: $local_font-stack_consolas;

    overflow: hidden;

    &__about {
      max-width: 100%;
      overflow: hidden;
    }

    & .icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }

  &__example {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
    margin-top: 1em;

    background-color: white;
    border-top-left-radius: $local_border_radius;
    border-top-right-radius: $local_border_radius;

    // adjust blocks' preview:
    &_halign_space-evenly {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    &_halign_space-evenly > .btn {
      margin: 0.2rem;
    }

    &_halign_center {
      justify-content: center;
      text-align: center;
    }
  }

  &__code {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-content: stretch;
    box-sizing: border-box;

    overflow: hidden;
  }

  &__icons a {
    padding: 1rem;
  }
}

.doc-table {
  overflow-x: auto;

  &__container {
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
  }

  &__cell {
    padding: 1rem;

    text-align: left;
    vertical-align: top;
  }

  &__cell_type_header {
    color: black;
    font-weight: bold;

    background-color: transparent;
    border-bottom: 1px solid #595959;
  }

  &__row {
    border-bottom: 1px solid #595959;
  }
  @media screen and (min-width: $local_screen-md) {
    &__col1 {
      width: 20%;
    }

    &__col2 {
      width: 30%;
    }

    &__col3 {
      width: 40%;
    }
  }
}
