include ./../block-mixin.pug

+block(
  { name: 'badge',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/badge',
    category: 'components',
    description: 'Badge' },

  { name: 'theme',
    values: ['black', 'white'],
    description: 'Badge' }
)
  div(class='block__example')
    div(class='block__preview' style='display: flex; flex-flow: row wrap; justify-content: space-evenly;')
      span(class='badge badge_theme_black') NEW!
      span(class='badge badge_theme_white') NEW!
