include ./../block-mixin.pug

+block(
  { name: 'btn-back-to-top',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/btn-back-to-top',
    category: 'components',
    description: 'Back to top button' }
)
  div(class='block__example')
    button(type='button' class='btn-back-to-top' title='Go to top') Top