include ./../block-mixin.pug

  +block(
    { name: 'btn-back-to-top',
      repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/btn-back-to-top',
      category: 'components',
      description: 'Back to top button' }
  )
