include ./../block-mixin.pug

+block(
  { name: 'btn',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/btn',
    category: 'components',
    description: 'Button' },

  { name: 'theme',
    values: ['black', 'empty'],
    description: 'Button color theme' }
)

  div(class='block__example block__example_halign_space-evenly')
    //- <a> button
    //- enabled
    a(class='btn btn_theme_black' href='https://github.com/ponomarevandrey') a link
    //- disabled
    a(class='btn btn_theme_black btn_disabled' href='https://github.com/ponomarevandrey') a link
  
    //- <button> button
    //- enabled
    button(type='button' class='btn btn_theme_black') Button
    //- disabled
    button(class='btn btn_theme_black btn_disabled' disabled) Button

    //- <input> button
    //- enabled
    input(type='button' value='Input' class='btn btn_theme_black')   
    //- disabled
    input(type='button' value='Input' class='btn btn_theme_black btn_disabled' disabled) 