include ./../block-mixin.pug

+block(
  { name: 'burger-menu',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/burger-menu',
    category: 'components',
    description: 'Hamburger menu' }
)
  div(class='block__example')