include ./../block-mixin.pug

  +block(
    { name: 'SCSS Config',
      repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/heading',
      category: 'config',
      description: '' }
  )

    include ./../../blocks/_global.scss
