include ./../block-mixin.pug

+block(
  { name: 'embed',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/label',
    category: 'videos',
    description: 'Embeded content (youtube videos, ...)' },

  { name: 'ratio',
    values: ['4x3'],
    description: 'Aspect ratio' }
)
  div(class='block__example')
    div(class='block__preview')
      div(class='embed') 
        iframe(
          src='https://www.youtube.com/embed/oRkNaF0QvnI'
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullsc
        )