include ./../block-mixin.pug

+block(
  { name: 'fullscreen-bg',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/fullscreen-bg',
    category: 'containers',
    description: 'Fullscreen background' },

  { name: 'color',
    values: ['black', 'white'],
    description: 'Background color' },

  { name: 'img',
    values: undefined,
    description: 'Full screen background image' }
)
  div(class='block__example')
