include ./../block-mixin.pug

+block(
  { name: 'grid-page-layout2',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/grid-page-layout2',
    category: 'containers',
    description: 'Grid layout example. Use it as a starting point for building your own page layout, it is not a "ready-to-use" type of component' }
)
  div(class='block__example' style="overflow: hidden;")
    section(class='grid-page-layout2')
      div(class='grid-page-layout2__one') One 
      div(class='grid-page-layout2__two') Two 
      div(class='grid-page-layout2__three') Three 
      div(class='grid-page-layout2__four') Four 
      div(class='grid-page-layout2__five') Five
