include ./../block-mixin.pug

+block(
  { name: 'grid-forms',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/grid-forms',
    category: 'forms',
    description: 'Grid-based layout for forms' }
)
  //-
    div(class='block__readme') 
      include:markdown-it ./../blocks.biscuit-lib/grid-forms/README.md
  div(class='block__example')
    div(class='block__preview')
      form(class='grid-forms' action='./action_page.php' method='post')
        div(style='background-color: red;') a 
        div(style='background-color: blue;') b 
        div(style='background-color: green;') c 
        div(style='background-color: pink;') d