include ./../block-mixin.pug

+block(
  { name: 'heading',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/heading',
    category: 'typography',
    description: '' },

  { name: 'size',
    values: ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
    description: 'Headings sizes' }
)
  div(class='block__example')
    div(class='block__preview block__preview_halign_center')
      h1(class='heading heading_size_h1') Heading One
      h1(class='heading heading_size_h2') Heading Two
      h1(class='heading heading_size_h3') Heading Three
      h1(class='heading heading_size_h4') Heading Four
      h1(class='heading heading_size_h5') Heading Five
      h1(class='heading heading_size_h6') Heading Six
