include ./../block-mixin.pug

+block(
  { name: 'lightbox',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/lightbox',
    category: 'components',
    description: 'Responsive lightbox gallery' }
)
  div(class='block__example')

      section(class='lightbox-preview') 
        div(class='lightbox-preview__item')
          img(class='lightbox-preview__thumbnail' data-lightbox='lightbox-image0' src='./img/lightbox-img1-preview.jpg' alt='Short image description')
        div(class='lightbox-preview__item')
          img(class='lightbox-preview__thumbnail' data-lightbox='lightbox-image1' src='./img/lightbox-img2-preview.jpg' alt='Short image description')
        div(class='lightbox-preview__item')
          img(class='lightbox-preview__thumbnail' data-lightbox='lightbox-image2' src='./img/lightbox-img3-preview.jpg' alt='Short image description')
        div(class='lightbox-preview__item')
          img(class='lightbox-preview__thumbnail' data-lightbox='lightbox-image3' src='./img/lightbox-img4-preview.jpg' alt='Short image description')


      div(class='lightbox')
        span(class='lightbox__close-btn') &times;

        img(class='lightbox__dialog' id='lightbox-image0' src='./img/lightbox-img1.jpg' alt='диплом')

        img(class='lightbox__dialog' id='lightbox-image1' src='./img/lightbox-img2.jpg' alt='диплом')

        img(class='lightbox__dialog' id='lightbox-image2'  src='./img/lightbox-img3.jpg' alt='сертификат')

        img(class='lightbox__dialog' id='lightbox-image3'  src='./img/lightbox-img4.jpg' alt='диплом')

        div(class="prev" id='lightbox-btn-prev') &#10094;
        div(class="next" id='lightbox-btn-next') &#10095;
