include ./../block-mixin.pug

+block(
  { name: 'select',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/select',
    category: 'components',
    description: 'Custom select box. Populate the select menu with items from plain JavaScript object or JSON file. Selected option cached in localStorage' }
)
  div(class='block__example' style="overflow: visible;")
    div(class='select' id="select-difficulty")