include ./../block-mixin.pug

+block(
  { name: 'table',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/table',
    category: 'tables',
    description: 'Table' },

  { name: 'theme',
    values: ['documentation', 'light'],
    description: 'Aspect ratio' }
)
  div(class='block__example')
    div(class='table' style='overflow-x:auto;')
      table(class='table__container')
        caption(class='table__caption') Table 1.1 Playlist
        thead
          tr(class='table__row text text_color_white')
            th(class='table__cell table__cell_type_header') Date
            th(class='table__cell table__cell_type_header') Artist
            th(class='table__cell table__cell_type_header') Title
            th(class='table__cell table__cell_type_header') Album
            th(class='table__cell table__cell_type_header') Label
            th(class='table__cell table__cell_type_header') Genres
            th(class='table__cell table__cell_type_header') Duration
        tbody
          tr(class='table__row')
            td(class='table__cell table__cell_type_main') 1971
            td(class='table__cell table__cell_type_main') Gil Scott-Heron
            td(class='table__cell table__cell_type_main') Save The Children
            td(class='table__cell table__cell_type_main') Pieces Of A Man
            td(class='table__cell table__cell_type_main') Flying Dutchman
            td(class='table__cell table__cell_type_main') Soul, Funk, Jazz
            td(class='table__cell table__cell_type_main') 4:55
          tr(class='table__row')
            td(class='table__cell table__cell_type_main') 1975
            td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
            td(class='table__cell table__cell_type_main') Sweet Thing
            td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
            td(class='table__cell table__cell_type_main') ABC Records
            td(class='table__cell table__cell_type_main') Soul, Funk, Disco
            td(class='table__cell table__cell_type_main') 3:18
          tr(class='table__row')
            td(class='table__cell table__cell_type_main') 1994
            td(class='table__cell table__cell_type_main') Adam F ‎
            td(class='table__cell table__cell_type_main') Sea Of Destiny
            td(class='table__cell table__cell_type_main') Stronger Than Ever
            td(class='table__cell table__cell_type_main') Lucky Spin Recordings
            td(class='table__cell table__cell_type_main') Jungle, Drum'n'Bass
            td(class='table__cell table__cell_type_main') 6:47
          tr(class='table__row')
            td(class='table__cell table__cell_type_main') 2000
            td(class='table__cell table__cell_type_main') Soulsearcher ‎
            td(class='table__cell table__cell_type_main') Can't Get Enough (Vocal Club Mix)
            td(class='table__cell table__cell_type_main') Various ‎- Disco Kandi
            td(class='table__cell table__cell_type_main') Hed Kandi 
            td(class='table__cell table__cell_type_main') Garage House, Disco
            td(class='table__cell table__cell_type_main') 7:19
            